.index-banner{
    position: relative;

  .banner {
    width: 100%;
    .carousel-item {
        width: 100%;
        height: 178px;
        overflow: hidden;
        img {
          width: 100%;
          height: 178px;
          // height: 100;
          object-fit: cover;
        }
    }
  }
  .swiper-pagination-bullet-active {
      background-color: black
  }
}

